<div>
	<%= form_for(@task) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :details %>
		<%= f.text_field :details %>
		<%= f.label :completed %>
		<%= f.check_box :completed %> <br>
		<%= f.submit %>
	<% end -%>

<!-- 	<i class="icon-check"></i>
	<i class="icon-check-empty"></i> -->

</div>